@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  } 
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(13, 32, 32;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   li {
    list-style: none;
    
   }
   li a{
     text-decoration: none;
   }
  input[type="checkbox"]{
    display: none;
  }
  .container h1{
      text-align: center;
      text-decoration: underline;
      font-weight: bolder;
      margin-top: 50px;
  }
  .urls{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .container{
      background-color: aquamarine;
  }
  .tablecontainer{
     
      display: flex;
      background-color: aquamarine;
      align-content: center;
  
  }
.tablecontainer{
    margin: 2rem;
    
  }
  table {
    table-layout: fixed;
    width: 120px;
    border: 1px solid red;
  }
  td {
    border: 1px solid blue;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }
  tr{
    text-align: center;
  }
    .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
  
  
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:rgb(13, 32, 32;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
  
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
  
  }
